@{
    ViewBag.Title = "About";
    Layout = null;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
@*<script>

        var no = 1;
        $(window).scroll(function () {
            debugger
            $("#yyykhan").empty();
            var hhh = $(window).height() + $(window).scrollTop();
            var ffgg = "height :  " + $(window).height() + " window  scrollTop : " + $(window).scrollTop() + "neww  : " + hhh + " document height :  " + $(document).height();
            $("#yyykhan").text(ffgg);

            if (no == 1) {
                if ($(window).height() + $(window).scrollTop() == $(document).height()) {
                    ffgg = 0;
                    alert("da*******************sdas");
                    no = 2;
                    //$.ajax({
                    //    type: "POST",
                    //    url: "request.php",
                    //    data: datas,
                    //    cache: false,
                    //    success: function (html) {

                    //    }
                    //});
                }
            }
        });
    </script>*@